<html>
    <head>
        <title>Angular-Haxe</title>
    </head>
    <body ng-app="todoapp" ng-controller="TodoController">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="index.js"></script>
        <table border="1">
            <tr>
                <th>Name</th>
            </tr>
            <tr ng-repeat="item in todos">
                <td>
                    {{ item.value }}
                </td>
            </tr>
        </table>

        <form>
            <label>Add a new one</label>
            <input type="text" ng-model="new_todo"/>
            <input type="submit" ng-click="create()" value="Submit"/>
        </form>
    </body>
</html>
